@use './../utils' as *;

.header{
    width: 100%;
    height: auto;
    padding: 15px 30px;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 10;
    transition: background-color $main-animation;
}

@media screen and (min-width: 768px) {
    .header--sticky {
        position: fixed;
        background-color: getColor("dark-background-color");
    }
}

.header__container{
    display: flex;
    flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
    .header__container {
    justify-content: space-between;
    flex-direction: row;
    }
}

.header__menu-btn{
    background-color: transparent;
    border: none;
    color: getColor("light-color");
    margin-bottom: 100px;
    transition: color $main-animation;
    cursor: pointer;

    &:hover{
        color: getColor("accent-color");
    }
}

@media screen and (min-width: 768px) {
    .header__menu-btn{
        display: none;
    }
}

.header__icon{
    fill: currentColor;
    width: 40px;
    height: 40px;
}



