@use './../utils' as *;

.services{
    background-color: #EFF1FF;
    scroll-margin-top: 80px;
}

.services__title {
    font-size: 36px;
    line-height: 2;
    font-weight: 600;
    margin-bottom: 30px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 50px;
        height: 5px;
        background-color: #1028C9;
    }
}