@use './../utils' as *;

@media screen and (min-width: 768px) {
    .services {
        scroll-margin-top: 100px;
    }
}

.services__container{
    outline: 5px solid getColor("accent-color");
    outline-offset: -15px;
    transition: outline-offset $main-animation;
    width: 100%;

    &:focus,
    &:hover {
        outline-offset: -25px;
    }
}

.services__section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
}

.services__title {
    font-size: 36px;
    line-height: 2;
    font-weight: 600;
    margin-bottom: 45px;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
        display: block;
        width: 50px;
        height: 5px;
        background-color: getColor("accent-color");
    }
}

.services__list{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
    max-width: 320px;
}

@media screen and (min-width: 768px) {
    .services__list{
        gap: 30px;
        max-width: 800px;
        padding-bottom: 30px;
    }
}

.services__item{
    position: relative;
    flex-basis: 100%;
    padding: 15px;
    height: 60px;
    color: getColor("main-color");
    background-color: getColor("light-color");
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    padding-left: 75px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.01em;
    overflow: hidden;
    transition: color $main-animation,
                background-color $main-animation;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);

    &:hover,
    &:focus{
        background-color: getColor("accent-color");
        color: getColor("light-color");

    &:hover .services__icon,
    &:focus .services__icon{
        width: 50px;
        height: 50px;
        transition: width $main-animation,
    }


    }
}

@media screen and (min-width: 768px) {
    .services__item {
        flex-basis: calc((100% - 30px) / 2);

        &:nth-child(2n){
            transform: translateY(30px);   
        }
    }
}

.services__icon-holder{
    position: absolute;
    top:0;
    left: 0;
    color: getColor("light-color");
    background-color: getColor("accent-color");
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services__icon{
    fill: currentColor;
    width: 40px;
    height: 40px;
    transition: width $main-animation,
}

.services__text{
    text-align: left;
}



// @keyframes service-background {
//     0%{background-color: getColor("first-child-color")}
//     50% {background-color: getColor("second-child-color")}
//     100% { background-color: getColor("first-child-color")}
// }