@use './../utils' as *;

.slider{
    height: 520px;
    background-color:#283FFC;
    position: relative;
    overflow: hidden;
}

.slider__thumb{
    width: 100%;
    height: 100%;
    position: relative;
}

.slider__image{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1s ease-in-out;
}

.slider__text-wrapper{
    position: absolute;
    top:0;
    left: 0;
    z-index: 2;
    background-color: getColor("dark-transparent-color");
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 150px 0px 50px 0px;
}

@media screen and(min-width: 768px) {
    .slider__text-wrapper{
        padding: 50px 0px 50px 0px;
    }
}

.slider__title{
    color: white;
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    border-bottom: 1px solid white;   
}

@media screen and (min-width: 768px) {
    .slider__title {
        font-size: 64px;
    }
}

.slider__dynamic-span{
    color: white;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

@media screen and (min-width: 768px) {
    .slider__dynamic-span {
        font-size: 32px;
    }
}

.slider__contact-wrapper{
    width:100%;
    color: getColor("light-color");
    position: absolute;
    bottom: 20px;
    z-index: 3;
}

@media screen and (min-width:768px) {
    .slider__contact-wrapper {
        bottom: 70px;
    }
}