@use './../utils' as *;

.specialist{
    background-color: getColor("dark-background-color");
    color: getColor("light-color");
}

.specialist__section{
    display: flex;
}

.specialist__wrapper{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.specialist__text{
    font-size: 48px;
    font-weight: 800;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.specialist__button{
    width: 300px;
    height: 70px;
    background-color: transparent;
    border: 4px solid getColor("light-color");
    font-size: 24px;
    color: getColor("light-color");
    font-weight: 800;
    text-transform: uppercase;


    &:hover,
    &:focus{
        background-color: getColor("light-color");
        color: getColor("dark-background-color");;
    }
}